<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/userstyle.css">
  <title>ユーザトップ</title>
</head>

<header>
  <form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">ログアウト</button>
  </form>
</header>

<body>
  <div>
    <form th:action="@{/{employeeId}/top/syukkin_user(employeeId=${employeeId})}" method="post">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <input type="submit" value="出勤" class="button" id="syukkinBtn">
    </form>
    <div id="result_s" th:if="${now_s} == null"></div>
    <div id="result_s" th:if="${now_s} != null">
      <div th:text="${now_s}"></div>
    </div>


    <form th:action="@{/{employeeId}/top/taikin_user(employeeId=${employeeId})}" method="post">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <input type="submit" value="退勤" class="button" id="taikinBtn">
    </form>
    <div id="result_e" th:if="${now_e} == null"></div>
    <div id="result_e" th:if="${now_e} != null">
      <div th:text="${now_e}"></div>
    </div>
  </div>
  
  

  <form th:action="@{/{employeeId}/top/jisseki_user(employeeId=${employeeId})}" method="post">
    <input type="submit" value="実績管理" class="button">
  </form>

  <form th:action="@{/{employeeId}/top/passChange_user(employeeId=${employeeId})}" method="post">
    <input type="submit" value="パスワード変更" class="button">
  </form>
  
  <form th:action="@{/{employeeId}/top/shinsei_user(employeeId=${employeeId})}" method="post">
    <input type="submit" value="各種申請" class="button">
  </form>

  

</body>
</html>