<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <title>ユーザトップ</title>
  <link rel="stylesheet" th:href="@{/css/userstyle.css}">
</head>

<header>
  <form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">ログアウト</button>
  </form>
</header>

<body>

  <div>
    <form id="syuttaikin" th:action="@{/syukkin_user}" method="post">
      <input type="submit" value="出勤" class="button">
    </form>

    <form id="syuttaikin" th:action="@{/taikin_user}" method="post">
      <input type="submit" value="退勤" class="button">
    </form>
  </div>
  

  <form th:action="@{/jisseki_user}" method="post">
    <input type="submit" value="実績管理" class="button">
  </form>

  <form th:action="@{/passChange_user}" method="post">
    <input type="submit" value="パスワード変更" class="button">
  </form>
  
  <form th:action="@{/shinsei_user}" method="post">
    <input type="submit" value="各種申請" class="button">
  </form>

  

</body>
</html>