<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" th:href="@{/css/userstyle.css}">
</head>

<header class="logoutback">

	<form th:action="@{/logout}" method="post">
		<button type="submit">ログアウト</button>
	</form>

	<form th:action="@{/shinsei_user}" method="post">
		<button type="submit">戻る</button>
	</form>
	
</header>

<body>
	<h2>年休申請</h2>
	<form>
		<input type="submit" value="入力">
	</form>
	<p>入力データこのあたりに表示</p>
	<form>
		<input type="submit" value="申請">
	</form>
</body>
</html>