<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワード変更</title>
</head>
<body>
    （仮）パスワード変更emp_homeから遷移

	<form th:object="${form}" th:action="@{/{employeeId}/top/passChange_form_user(employeeId=${employeeId})}" method="post">
	    <input type="password" th:field="*{currentPass}" id="current_pass" />
	    <div th:if="${#fields.hasErrors('currentPass')}" th:errors="*{currentPass}" style="color: red;"></div>
	    <br />

	    <input type="password" th:field="*{newPass}" id="new_pass" />
	    <div th:if="${#fields.hasErrors('newPass')}" th:errors="*{newPass}" style="color: red;"></div>
	    <br />

	    <input type="password" th:field="*{newPassRev}" id="new_pass_rev" />
	    <div th:if="${#fields.hasErrors('newPassRev')}" th:errors="*{newPassRev}" style="color: red;"></div>
	    <br />

	    <input type="submit" value="登録" />
	</form>
</body>
</html>