<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワード変更</title>
</head>
<body>
    （仮）パスワード変更

    <form th:action="atodenaosu" method="post">
        現在のパスワード
        <input type="text" id="current_pass">
        <br>
        新しいパスワード
        <input type="text" id="new_pass">
        <br>
        新らしいパスワード(確認用)
        <input type="text" id="new_pass_rev">
        <br>
        <input type="submit" value="登録">
    </form>
</body>
</html>